.blog-list-item {
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    display: grid;
    grid-gap: 1vh;
    grid-template-columns: 69% 29%;
    grid-template-rows: 25% 35% 20%;
    grid-template-areas: "header image" "description image" "follow date";
    color: inherit;
    filter: blur(0.7px);
}

.blog-list-item:hover {
    text-decoration: none;
    filter: blur(0);
    color: black;
}

.blog-list-item+.blog-list-item {
    border-top: 1px solid #E0E0E0;
}


.header {
    font-size: 2vw;
    font-weight: 500;
    grid-area: header;
    margin-top: 0;
    margin-bottom: auto;
}

.header:hover {
    text-decoration: none;
}

.description {
    grid-area: description;
}


.image {
    grid-area: image;
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%;
    margin-right: 0;
}

.follow {
    grid-area: follow;
    margin-bottom: 0;
}
.date {
    grid-area: date;
    text-align: right;
    margin-bottom: 0;
    margin-top: auto;
}

@media (max-width: 950px) {
    .blog-list-item {
        padding-top: 0.5vh;
        padding-bottom: 0.5vh;
        height: 20vh;
        display: grid;
        grid-gap: 1vh;
        grid-template-rows: 75% 15%;
        grid-template-columns: 100%;
        grid-template-areas: "image" "header";
        width: 100%;
	filter: blur(0);
    }
    .description {
	z-index: -1;
        visibility: hidden;
        position: absolute;
    }
    .header {
        font-size: 4vmin;
        z-index: 1;
        text-align: center;
    }
    
    .date {
	z-index: -1;
        visibility: hidden;
        position: absolute;
    }

    .image {
        grid-area: image;
        height: 100%;
        width: auto;
        z-index:0;
        margin: 0 auto;
    }
    
    .follow {
	z-index: -1;
        visibility: hidden;
        position: absolute;
    }
}