.about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    min-height: 300px;
}

h2 {
    margin: 2vh auto;
    width: 100%;
    text-align: center;
}